html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 rem son 10px*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*CLASES GLOBALES*/
.h1 {
    font-size: 6rem;
    text-align: center;
}

.h2 {
    font-size: 4rem;
    text-align: center;
}

.h3 {
    font-size: 3rem;
}

.p {
    font-size: 3rem;
}

.fondo {
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(110, 114, 126) 100%);
}

.btn {
    background-color: #1a579c;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn:hover {
    background-color: #727c7c;
}

.cont-navegacion-todas {
    font-size: 3rem;
    border-top: 0.5rem solid #1a579c;
    border-bottom: 0.5rem solid #1a579c;
    background-color: #727c7c;

}

.nav-todas {

    color: #5b626a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav {
    text-decoration: none;
    padding: 2rem;
    color: #ffffff;
}

.nav:hover {
    background-color: #1a579c;
}

.logo {
    width: 20rem;
}

/*FOOTER*/
.estilo-footer {
    background-color: #727c7c;
    background: local;
    color: #fff;
    text-align: center;
    padding: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.casiboton {
    background-color: cadetblue;
    color: white;
    padding: 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.casiboton:hover {
    background-color: #1a579c;
}

.cabecera {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}


/*LOGIN*/

.imagen-login {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation: backwards 1s cubic-bezier(0, 0, 0, 1.39) both;
    background: left / cover no-repeat linear-gradient(to right,
            rgb(110, 114, 126) 0%, rgba(255, 255, 255, 0.432) 50%),
        left / cover no-repeat url(../images/login.jpg);
    height: 25rem;
}

.main-login {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

}

.formularios-login {
    text-align: right;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    padding-top: 19rem;
}

.formulario-login {
    padding: 2rem;
}

/*INICIO*/
.contenedores-inicio {
    width: 65%;
    margin: 3rem auto;
    padding: 1rem;
    border: 0.5rem solid #1a579c;
}


.btn-inicio {
    background-color: #1a579c;
    border: none;
    color: white;
    padding: 3rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    border-radius: 6rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 66rem;
    margin-right: 66rem;
}
.btn-inicio:hover{
    background-color: #5b626a;
}

/*NUEVO PROYECTO*/
.nuevop {

    text-align: center;
    font-size: 3rem;
    margin-right: 33rem;
    margin-left: 33rem;
}

.form-nuevoP {
    font-size: 2rem;
    text-align: right;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}

.form {
    border-radius: 2rem;
}

.radio {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

/*PROYECTOS*/
.tablaP {
    width: 95%;
    border-collapse: collapse;
    margin-left: 4rem;
}

th,
td {

    padding: 1rem;

    font-size: 3rem;
    text-align: center;
}

th:hover,
td:hover {
    background-color: #1a579c;
    color: white;
}

th {
    background-color: #f2f2f2;
}

.descripcion-tabla {
    background-color: #5b626a;
    color: white;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    border-radius: 5rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.descripcion-tabla:hover {
    background-color: #f2f2f2;
    color: #1a579c;
}